<%- include('../partials/admin/header') %>


<section>
    <table class="table">
        <thead class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Front Image</th>
                <th scope="col">Back Image</th>
                <th scope="col">Left Image</th>
                <th scope="col">Right Image</th>
            </tr>
        </thead>
        <tbody>
            <% order.forEach((order, index)) => { %>
                <tr>
                    <td>
                         
                    </td>
                    <td>
                        
                    </td>
                </tr>

            <% } %>

        </tbody>
    </table>
</section>