

<link rel="stylesheet" href="stylesheets/user_h1.css">


<div class="frame-1321314833">
    <div class="rectangle-506">
    </div>
    <div class="frame-1321314832">
        <div class="frame-1321314830">
            <svg class="home" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_288_4121" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="41" height="40">
                    <rect x="0.5" width="40" height="40" fill="#001F31" />
                </mask>
                <g mask="url(#mask0_288_4121)">
                    <path d="M10.5001 31.6667H15.5001V21.6667H25.5001V31.6667H30.5001V16.6667L20.5001 9.16667L10.5001 16.6667V31.6667ZM7.16675 35V15L20.5001 5L33.8334 15V35H22.1667V25H18.8334V35H7.16675Z" fill="white" />
                </g>
            </svg>
            <div class="home2"> Home </div>
        </div>
        <div class="line-7">
        </div>
        <div class="frame-1321314829">
            <svg class="search" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.1667 35L22.6667 24.5C21.8333 25.1667 20.875 25.6944 19.7917 26.0833C18.7083 26.4722 17.5556 26.6667 16.3333 26.6667C13.3056 26.6667 10.7431 25.6181 8.64583 23.5208C6.54861 21.4236 5.5 18.8611 5.5 15.8333C5.5 12.8056 6.54861 10.2431 8.64583 8.14583C10.7431 6.04861 13.3056 5 16.3333 5C19.3611 5 21.9236 6.04861 24.0208 8.14583C26.1181 10.2431 27.1667 12.8056 27.1667 15.8333C27.1667 17.0556 26.9722 18.2083 26.5833 19.2917C26.1944 20.375 25.6667 21.3333 25 22.1667L35.5 32.6667L33.1667 35ZM16.3333 23.3333C18.4167 23.3333 20.1875 22.6042 21.6458 21.1458C23.1042 19.6875 23.8333 17.9167 23.8333 15.8333C23.8333 13.75 23.1042 11.9792 21.6458 10.5208C20.1875 9.0625 18.4167 8.33333 16.3333 8.33333C14.25 8.33333 12.4792 9.0625 11.0208 10.5208C9.5625 11.9792 8.83333 13.75 8.83333 15.8333C8.83333 17.9167 9.5625 19.6875 11.0208 21.1458C12.4792 22.6042 14.25 23.3333 16.3333 23.3333Z" fill="white" />
            </svg>
            <div class="search2"> Search </div>
        </div>
        <div class="line-1">
        </div>
        <div class="frame-1321314828">
            <svg class="favorite" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.4999 35.2917L18.0833 33.0917C9.49992 25.3083 3.83325 20.175 3.83325 13.875C3.83325 8.74166 7.86659 4.70833 12.9999 4.70833C15.8999 4.70833 18.6833 6.05833 20.4999 8.19166C22.3166 6.05833 25.0999 4.70833 27.9999 4.70833C33.1333 4.70833 37.1666 8.74166 37.1666 13.875C37.1666 20.175 31.4999 25.3083 22.9166 33.1083L20.4999 35.2917Z" fill="white" />
            </svg>
            <div class="favorite2"> Favorite </div>
        </div>
        <div class="line-2">
        </div>
        <div class="frame-1321314827">
            <svg class="frame" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_288_4124)">
                    <path d="M16.125 33.75C16.125 34.3681 15.9417 34.9723 15.5983 35.4862C15.255 36.0001 14.7669 36.4006 14.1959 36.6371C13.6249 36.8736 12.9965 36.9355 12.3903 36.815C11.7842 36.6944 11.2273 36.3967 10.7903 35.9597C10.3533 35.5227 10.0556 34.9658 9.93504 34.3597C9.81447 33.7535 9.87635 33.1251 10.1129 32.5541C10.3494 31.9831 10.7499 31.495 11.2638 31.1517C11.7777 30.8083 12.3819 30.625 13 30.625C13.8288 30.625 14.6237 30.9542 15.2097 31.5403C15.7958 32.1263 16.125 32.9212 16.125 33.75ZM29.25 30.625C28.6319 30.625 28.0277 30.8083 27.5138 31.1517C26.9999 31.495 26.5994 31.9831 26.3629 32.5541C26.1264 33.1251 26.0645 33.7535 26.185 34.3597C26.3056 34.9658 26.6032 35.5227 27.0403 35.9597C27.4773 36.3967 28.0341 36.6944 28.6403 36.815C29.2465 36.9355 29.8749 36.8736 30.4459 36.6371C31.0169 36.4006 31.505 36.0001 31.8483 35.4862C32.1917 34.9723 32.375 34.3681 32.375 33.75C32.375 32.9212 32.0458 32.1263 31.4597 31.5403C30.8737 30.9542 30.0788 30.625 29.25 30.625ZM37.2922 11.8016L33.0281 25.6609C32.7559 26.5572 32.2019 27.3418 31.4484 27.8983C30.6949 28.4548 29.782 28.7535 28.8453 28.75H13.4578C12.5077 28.7469 11.5841 28.436 10.8255 27.8639C10.0669 27.2918 9.51413 26.4893 9.25 25.5766L3.90781 6.875H2.375C1.87772 6.875 1.40081 6.67746 1.04917 6.32583C0.697544 5.97419 0.5 5.49728 0.5 5C0.5 4.50272 0.697544 4.02581 1.04917 3.67417C1.40081 3.32254 1.87772 3.125 2.375 3.125H4.37812C5.05679 3.1271 5.71647 3.34919 6.25822 3.75797C6.79996 4.16674 7.19456 4.74015 7.38281 5.39219L8.52187 9.375H35.5C35.7934 9.37498 36.0828 9.44383 36.3448 9.57601C36.6067 9.70819 36.834 9.90002 37.0084 10.1361C37.1827 10.3721 37.2992 10.6458 37.3485 10.935C37.3978 11.2243 37.3785 11.5211 37.2922 11.8016ZM32.9609 13.125H9.59219L12.8562 24.5469C12.8936 24.6775 12.9726 24.7925 13.0811 24.8742C13.1897 24.956 13.3219 25.0001 13.4578 25H28.8453C28.9791 25.0003 29.1094 24.9576 29.2171 24.8783C29.3249 24.799 29.4043 24.6872 29.4437 24.5594L32.9609 13.125Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_288_4124">
                        <rect width="40" height="40" fill="white" transform="translate(0.5)" />
                    </clipPath>
                </defs>
            </svg>
            <div class="cart"> Cart </div>
        </div>
        <div class="line-6">
        </div>
        <div class="frame-1321314826">
            <svg class="icons-settings-24-px" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0166 35.05C25.85 36.1833 24.8166 37.0833 23.5833 37.0833H17.4166C16.1833 37.0833 15.15 36.1833 15 34.9667L14.55 31.8167C14.1 31.5833 13.6666 31.3333 13.2333 31.05L10.2333 32.25C9.06665 32.6833 7.78332 32.2 7.21665 31.1667L4.16665 25.8833C3.58332 24.7833 3.83332 23.4833 4.76665 22.75L7.31665 20.7667C7.29998 20.5167 7.28332 20.2667 7.28332 20C7.28332 19.75 7.29998 19.4833 7.31665 19.2333L4.78332 17.25C3.79998 16.5 3.54998 15.15 4.16665 14.1167L7.24998 8.8C7.81665 7.76667 9.09998 7.3 10.2333 7.75L13.25 8.96667C13.6833 8.68333 14.1167 8.43333 14.55 8.2L15 5.01667C15.15 3.85 16.1833 2.93333 17.4 2.93333H23.5667C24.8 2.93333 25.8333 3.83333 25.9833 5.05L26.4333 8.2C26.8833 8.43333 27.3166 8.68333 27.75 8.96667L30.75 7.76667C31.9333 7.33333 33.2166 7.81667 33.7833 8.85L36.85 14.15C37.45 15.25 37.1833 16.55 36.25 17.2833L33.7167 19.2667C33.7333 19.5167 33.75 19.7667 33.75 20.0333C33.75 20.3 33.7333 20.55 33.7167 20.8L36.25 22.7833C37.1833 23.5333 37.45 24.8333 36.8666 25.8833L33.7666 31.25C33.2 32.2833 31.9167 32.75 30.7666 32.3L27.7666 31.1C27.3333 31.3833 26.9 31.6333 26.4667 31.8667L26.0166 35.05ZM18.2 33.75H22.8L23.4167 29.5L24.3 29.1333C25.0333 28.8333 25.7666 28.4 26.5333 27.8333L27.2833 27.2667L31.25 28.8667L33.55 24.8667L30.1667 22.2333L30.2833 21.3L30.2885 21.2551C30.3367 20.8378 30.3833 20.4344 30.3833 20C30.3833 19.55 30.3333 19.1167 30.2833 18.7L30.1667 17.7667L33.55 15.1333L31.2333 11.1333L27.25 12.7333L26.5 12.15C25.8 11.6167 25.05 11.1833 24.2833 10.8667L23.4167 10.5L22.8 6.25H18.2L17.5833 10.5L16.7 10.85C15.9667 11.1667 15.2333 11.5833 14.4666 12.1667L13.7166 12.7167L9.74998 11.1333L7.43332 15.1167L10.8166 17.75L10.7 18.6833C10.65 19.1167 10.6 19.5667 10.6 20C10.6 20.4333 10.6333 20.8833 10.7 21.3L10.8166 22.2333L7.43332 24.8667L9.73332 28.8667L13.7166 27.2667L14.4666 27.85C15.1833 28.4 15.9 28.8167 16.6833 29.1333L17.5667 29.5L18.2 33.75ZM26.3333 20C26.3333 23.2217 23.7216 25.8333 20.5 25.8333C17.2783 25.8333 14.6666 23.2217 14.6666 20C14.6666 16.7783 17.2783 14.1667 20.5 14.1667C23.7216 14.1667 26.3333 16.7783 26.3333 20Z" fill="white" />
            </svg>
            <div class="settings"> Settings </div>
        </div>
        <div class="line-4">
        </div>
        <div class="frame-1321314825">
            <div class="i"> i </div>
            <div class="about-us"> ABOUT US </div>
        </div>
        <div class="line-5">
        </div>
        <div class="frame-1321314831">
            <div class="male-oval-66">
                <img class="male-oval-662" src="male-oval-661.png" />
            </div>
            <div class="profile"> Profile </div>
        </div>
    </div>
</div>