<%- include('../partials/user/header') %>

<link rel="stylesheet" href="./css/main.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo:wght@400;700&display=swap" />

<section>
  <div class="container mx-auto text-center">
    <div class="relative bg-black  mx-auto rounded" style=" width:80% ;height: 300px; padding: 70px">
      <h1 class="text-3xl font-bold text-white py-4 font-baloo" style="font-family: 'Baloo', cursive; color: white; font-size: 7vw">Wallet</h1>
      <div class="flex justify-center">
        <div class="absolute bg-white rounded" style="width: 900px; height: 500px; top: 200px">
          <h2 class="text-xl font-semibold mt-4">Transactions</h2>
        </div>
      </div>
    </div>
  </div>
</section>
