.mac-book-pro-14-1,
.mac-book-pro-14-1 * {
    box-sizing: border-box;
}

.mac-book-pro-14-1 {
    background: #ffffff;
    height: 982px;
    position: relative;
    overflow: hidden;
}

.frame-1321314819 {
    background: var(--secondary-s75, #ebf3f8);
    border-radius: 22px;
    padding: 0px 58px 0px 58px;
    height: 912px;
    position: absolute;
    right: 40px;
    left: 41px;
    top: calc(50% - 456px);
}

.image-16 {
    border-radius: 12px;
    width: 416.46px;
    height: 12.7%;
    position: absolute;
    left: calc(50% - 208.5px);
    bottom: 82.69%;
    top: 4.61%;
    object-fit: cover;
}

.div-section {
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    width: 591px;
    height: 777px;
    position: absolute;
    left: calc(50% - 295.5px);
    top: 195px;
    overflow: hidden;
}

.main-div {
    background: #ffffff;
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    height: 112.23%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: -12.23%;
}

.header {
    width: 591px;
    height: 67px;
    position: absolute;
    left: calc(50% - 295.5px);
    top: calc(50% - 323.5px);
}

.let-s-get-you-started {
    color: #000000;
    text-align: left;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 12.800000190734863px;
    line-height: 22.53px;
    font-weight: 400;
    position: absolute;
    left: 222.5px;
    top: 0px;
}

.create-an-account {
    color: #000000;
    text-align: left;
    font-family: 'ZenKakuGothicAntique-Medium', sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 500;
    position: absolute;
    left: 165.5px;
    top: 23px;
}

.form {
    width: 523px;
    height: 268px;
    position: absolute;
    left: calc(50% - 261.5px);
    top: calc(50% - 213.5px);
}

.group-5 {
    position: absolute;
    inset: 0;
}

.input {
    width: 523px;
    height: 67px;
    position: static;
}

.input2 {
    border-radius: 8px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 1px;
    width: 100%;
    height: 20.9%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 75%;
    top: 4.1%;
}

.johnson-doe {
    color: #757575;
    text-align: left;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 16px;
    line-height: 28.16px;
    font-weight: 400;
    position: absolute;
    right: 77.38%;
    left: 3.35%;
    width: 19.28%;
    bottom: 79.85%;
    top: 9.33%;
    height: 10.82%;
}

.label {
    width: 15.25%;
    height: 8.58%;
    position: absolute;
    right: 82.32%;
    left: 2.42%;
    bottom: 91.42%;
    top: 0%;
    overflow: hidden;
}

.divider {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.your-name {
    color: #757575;
    text-align: center;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 12.800000190734863px;
    line-height: 22.53px;
    font-weight: 400;
    position: absolute;
    left: 5.54px;
    bottom: 0%;
    top: 0%;
    height: 100%;
    width: 68.69px;
}

.input-copy {
    width: 523px;
    height: 67px;
    position: static;
}

.input3 {
    border-radius: 8px;
    border-style: solid;
    border-color: #424242;
    border-width: 1px;
    width: 100%;
    height: 20.9%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 42.54%;
    top: 36.57%;
}

.johnsondoe-nomail-com {
    color: #424242;
    text-align: left;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 16px;
    line-height: 28.16px;
    font-weight: 400;
    position: absolute;
    right: 63.67%;
    left: 3.06%;
    width: 33.27%;
    bottom: 47.39%;
    top: 41.79%;
    height: 10.82%;
}

.label2 {
    width: 10.33%;
    height: 8.58%;
    position: absolute;
    right: 87.54%;
    left: 2.14%;
    bottom: 58.96%;
    top: 32.46%;
    overflow: hidden;
}

.email {
    color: #424242;
    text-align: center;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 12.800000190734863px;
    line-height: 22.53px;
    font-weight: 400;
    position: absolute;
    left: 5.54px;
    bottom: 0%;
    top: 0%;
    height: 100%;
    width: 44px;
}

.btn-pry-template-1 {
    position: absolute;
    inset: 0;
}

.frame-103 {
    background: var(--primary-p500, #001f31);
    border-radius: 8px;
    padding: 7px 49px 7px 49px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 523px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 212px;
}

.get-started {
    color: #ffffff;
    text-align: center;
    font-family: 'ZenKakuGothicAntique-Bold', sans-serif;
    font-size: 12.800000190734863px;
    line-height: 22.53px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-label {
    position: absolute;
    inset: 0;
}

.line-divider {
    width: 488.22px;
    height: 2.27px;
    position: absolute;
    left: calc(50% - 244.11px);
    top: calc(50% - -108px);
    overflow: visible;
}

.divider-bg {
    background: #ffffff;
    width: 61.67px;
    height: 23.28px;
    position: absolute;
    left: calc(50% - 30.84px);
    top: calc(50% - -97.5px);
}

.or {
    color: #212121;
    text-align: center;
    font-family: 'ZenKakuGothicAntique-Bold', sans-serif;
    font-size: 12.800000190734863px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 8.99px);
    top: calc(50% - -98.35px);
    width: 19.27px;
    height: 21.57px;
}

.btn-outline-vertical {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 190px);
    top: calc(50% - -163.78px);
}

.btn-outline-template-1-copy {
    flex-shrink: 0;
    width: 380px;
    height: 48px;
    position: static;
}

.frame-1321314815 {
    background: #ebf3f8;
    border-radius: 8px;
    border-style: solid;
    border-color: #001f31;
    border-width: 1px;
    padding: 6px 37px 6px 37px;
    width: 380px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.frame-1321314814 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 37px;
    top: 6px;
}

.icons-8-google {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
    overflow: visible;
}

.sign-up-with-google {
    color: #616161;
    text-align: center;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 12.800000190734863px;
    line-height: 22.53px;
    font-weight: 400;
    position: relative;
    width: 285px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.already-have-an-account-login {
    color: #212121;
    text-align: center;
    font-family: '-', sans-serif;
    font-size: 12.800000190734863px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 295.5px);
    top: calc(50% - -254.78px);
    width: 591px;
    height: 21.57px;
}

.already-have-an-account-login-span {
    color: #212121;
    font-family: 'ZenKakuGothicAntique-Regular', sans-serif;
    font-size: 12.800000190734863px;
    font-weight: 400;
}

.already-have-an-account-login-span2 {
    color: #212121;
    font-family: 'ZenKakuGothicAntique-Bold', sans-serif;
    font-size: 12.800000190734863px;
    font-weight: 700;
}

.already-have-an-account-login-span3 {
    color: #212121;
    font-family: 'ZenKakuGothicAntique-Bold', sans-serif;
    font-size: 12.800000190734863px;
    font-weight: 700;
    text-decoration: underline;
}