.move{
    position: absolute;
    right: 20%;
}

.bgnew{
    background-color: #EBF3F8;
}


.navbar-custom {
    justify-content: center;
}
.navbar-nav {
    flex-direction: row;
}

.btn-gap {
    margin-right: 150px; /* Adjust the value as needed */
}