.frame-1321314833,
.frame-1321314833 * {
    box-sizing: border-box;
    right: 0;
    top:0;
}

.frame-1321314833 {
    width: 125px;
    height: 982px;
    position: absolute;
}

.group-1000006047 {
    position: absolute;
    inset: 0;
}

.rectangle-506 {
    background: var(--body, #001f32);
    width: 982px;
    height: 125px;
    position: absolute;
    right: -982px;
    top: calc(50% - 491px);
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.frame-1321314832 {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: flex-start;
    width: 73px;
    height: 886px;
    position: absolute;
    right: 26px;
    top: calc(50% - 443px);
}

.frame-1321314830 {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
}

.home {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

.home2 {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-7 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314829 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 44px;
    position: relative;
}

.search {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

.search2 {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-1 {
    background: var(--white, #ffffff);
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314828 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 51px;
    position: relative;
}

.favorite {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

.favorite2 {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-2 {
    background: var(--white, #ffffff);
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314827 {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
}

.frame {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

.cart {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-6 {
    background: var(--white, #ffffff);
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314826 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 53px;
    position: relative;
}

.icons-settings-24-px {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

.settings {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-4 {
    background: var(--white, #ffffff);
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314825 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.i {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: 'RocknRollOne-Regular', sans-serif;
    font-size: 55px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-5 {
    background: var(--white, #ffffff);
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.frame-1321314831 {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 43px;
    position: relative;
}

.male-oval-66 {
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
}

.male-oval-662 {
    background: var(--male-66, undefined);
    border-radius: 64px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.profile {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}